:root {
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  color: #4B5564;
  background-color: #F3F4F6;
}

html, body{
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

